In [1]:
import numpy as np
import pandas as pd

data = [
    ("Rainy", "Hot", "High", "f", "no"),
    ("Rainy", "Hot", "High", "t", "no"),
    ("Overcast", "Hot", "High", "f", "yes"),
    ("Sunny", "Mild", "High", "f", "yes"),
    ("Sunny", "Cool", "Normal", "f", "yes"),
    ("Sunny", "Cool", "Normal", "t", "no"),
    ("Overcast", "Cool", "Normal", "t", "yes"),
    ("Rainy", "Mild", "High", "f", "no"),
    ("Rainy", "Cool", "Normal", "f", "yes"),
    ("Sunny", "Mild", "Normal", "f", "yes"),
    ("Rainy", "Mild", "Normal", "t", "yes"),
    ("Overcast", "Mild", "High", "t", "yes"),
    ("Overcast", "Hot", "Normal", "f", "yes"),
    ("Sunny", "Mild", "High", "t", "no")
]

df = pd.DataFrame(data, columns=["Outlook", "Temp", "Humidity", "Windy", "Play"])

df

     Outlook  Temp Humidity Windy Play
0      Rainy   Hot     High     f   no
1      Rainy   Hot     High     t   no
2   Overcast   Hot     High     f  yes
3      Sunny  Mild     High     f  yes
4      Sunny  Cool   Normal     f  yes
5      Sunny  Cool   Normal     t   no
6   Overcast  Cool   Normal     t  yes
7      Rainy  Mild     High     f   no
8      Rainy  Cool   Normal     f  yes
9      Sunny  Mild   Normal     f  yes
10     Rainy  Mild   Normal     t  yes
11  Overcast  Mild     High     t  yes
12  Overcast   Hot   Normal     f  yes
13     Sunny  Mild     High     t   no

In [2]:
from mlalgos.preprocessing import split_features_and_target
from mlalgos.classifiers import NaiveBayes

X, y = split_features_and_target(df, "Play")

clf = NaiveBayes()

clf.fit(X, y)

In [3]:
from mlalgos.metrics import accuracy_score, ClassificationReport

X_test = [
    ["Rainy", "Mild", "Normal", "t"],
    ["Overcast", "Cool", "Normal", "t"],
    ["Sunny", "Hot", "High", "t"]
]

results = clf.predict(X_test)
labels = ["yes", "yes", "no"]

report = ClassificationReport(labels, results)

report

     Class  Precision     Recall   F1-Score    Support
        no       1.00       1.00       1.00          1
       yes       1.00       1.00       1.00          2
  Accuracy                             1.00          3